<% if (user) { %>
  
  <section id="chat" ng-controller="ChatController" ng-show="room.length > 0">
    
    <div id="subheader">
      <ul id="presence">
        <label>Online:</label>
        <li ng-repeat="user in room">
          {{user.name.givenName}}
        </li>
      </ul>
    </div>
    
    <div id="newPost">
      <form ng-submit="postMessage()">
        <label for="message">Message</label>
        <textarea id="message" placeholder="Chat..."
                  ng-model="messageText"
                  post-on-enter
                  ></textarea>
        <input id="newPostSubmit" type="submit" value="Post" />
      </form>
    </div>
  
    <ul id="posts">
      <li ng-repeat="post in posts">
        <span class="user">{{post.user.name.givenName}}</span>
        <span class="date" data-date="{{post.date}}" timeago></span>
        <span class="text">{{post.text}}</span>
      </li>
    </ul>
  
  </section>
  
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/angular.js"></script>
  <script type="text/javascript" src="/js/moment.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/client"></script>
  
<% } %>