<!DOCTYPE html>
<html ng-app="Chatty">
	<head>
		<title>Chatty</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css"></link>
	</head>
	<body>
    <div id="header">
      <div id="links">
    		<% if (!user) { %>
    		  <a href="/auth/google">Login with Google</a>
    		<% } else { %>
    		  <a href="/account"><%= user.displayName %></a>
    		  <a href="/logout" id="logout">Log Out</a>
    		<% } %>
      </div>
    </div>
    
		<%- body %>
	</body>
</html>