<!DOCTYPE html>
<html ng-app="Chatty">
	<head>
		<title>Chatty</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			  <a href="/">Home</a> | 
			  <a href="/auth/google">Login with Google</a>
			</p>
		<% } else { %>
			<p>
			  <a href="/">Home</a> | 
			  <a href="/account">Account</a> | 
			  <a href="/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>